<div style="width: 400px;">
  <div class="top-container">
    <div class="filter-container">
      Filter: <input type="text" [(ngModel)]="currentFilter" (ngModelChange)="filter()" />
    </div>
    <button class="add-button" (click)="router.navigate(['/courses/new'])">Add New</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let course of courses">
      <td>
        <a [routerLink]="['/courses/view', course.id]">
          {{ course.name  | titlecase }}
        </a>
      </td>
      <td><button (click)="delete(course.id)" [disabled]="!course.isDeletable" [ngClass]="{'is-disabled':!course.isDeletable}">Delete</button></td>
    </tr>
    <tr *ngIf="!courses || !courses.length">
      <td colspan="2" class="no-records">No courses found...</td>
    </tr>
  </table>
  <div class="record-summary" *ngIf="courses && courses.length">
    Total courses: <b>{{courses.length}}</b>
  </div>
</div>
