<div style="width: 900px;">
  <div class="top-container">
    <div class="filter-container">
      Filter: <input type="text" [(ngModel)]="currentFilter" (ngModelChange)="filter()" />
    </div>
    <button class="add-button" (click)="router.navigate(['/students/new'])">Add New</button>
  </div>
  <table>
    <thead>
      <tr>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('city')">City</th>
        <th (click)="sort('course')">Course</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let student of students">
      <td>
          <a [routerLink]="['/students/view', student.id]">
            {{ student.name | titlecase }}
          </a>
      </td>
      <td>{{ student.city }}</td>
      <td>{{ student.course }}</td>
      <td><button (click)="delete(student.id)">Delete</button></td>
    </tr>
    <tr *ngIf="!students || !students.length">
      <td colspan="4" class="no-records">No students found...</td>
    </tr>
  </table>
  <div class="record-summary" *ngIf="students && students.length">
    Total students: <b>{{students.length}}</b>
  </div>
</div>
