.view-container{
  width:410px;
}

table{
  width:100%;
}

table, input, select {
  font-size: 20px;
}
table tr td{
  padding:10px 0px;
}
table tr td:first-child{
  width:200px;
}

input {
  width: 200px;
  border: none;
  border-bottom: solid black 1px;
  outline: none;
}

select {
  width: 204px;
  border: none;
  border-bottom: solid black 1px;
  outline: none;
}

select > .placeholder {
  display: none;
}

.view-container button {
  float:right;
  margin-left:10px;
}
